# R related
**.Rproj.user
**.Rhistory
**.RData
**.Ruserdata
**.Rapp.history
**.Rprofile
**.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata

# large RData
**METHYL*RAW_COUNTS*
**METHYL*NORM_DATA*
**ATAC*NORM_DATA*
large-data/